* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background: #181818;
    padding: 10px 30px;
    gap: 10px;
}

.calculator {
    width: 300px;
    height: 450px;
    border: 2px solid #aaaaaa;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: #161616;
    box-shadow: 2px 2px 20px gray;
    gap: 40px;
    padding: 20px 0;
}
#natija {
    width: 90%;
    height: 60px;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    box-shadow: 2px 2px 20px gray;
    color: white;
    background: none;
    font-size: 20px;
    padding: 10px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    gap: 15px;
}

button {
    width: 50px;
    height: 50px;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
    background: none;
    font-size: 20px;
    color: white;
}
button:hover {
    box-shadow: 2px 2px 20px #c7c7c7;
}
#teng:hover {
    box-shadow: 2px 2px 20px #c7c7c7;
}

#teng {
    width: 50px;
    height: 115px;
    grid-row: span 2;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
    background: none;
    font-size: 20px;
    color: white;
}